html {
    background: linear-gradient(rgb(148, 4, 129),#71d693);
    color: white;
}

h1 {
    text-align: center;
    font-size: 40px;
    text-shadow: black 5px 3px 5px;
}

header p {
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid black;
    border-radius: 70%;
}

h2 {
    text-align: center;
    font-size: 30px;
    text-shadow: black 5px 3px 5px;

}

td {
    border: 3px solid black;
}

table {
    text-align: center;
    margin: 0 auto;
}

.text {
    text-align: center;
    font-size: 25px ;
    text-shadow: black 5px 3px 5px; 
}

footer a {
    text-decoration: none;
    font-size: 20px;
    border: 3px solid royalblue;
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 10px;
    text-shadow: black 5px 3px 5px;
}

footer p{
    text-align: center;
}

footer a:hover {
    background-color: yellow;
    transition: background-color 4s linear;
}

ul {
    font-size: 20px;
}

